generated/src/main/xsd/person.xsd

<xsd:schema xmlns="http://www.rabobank.nl/person/schema/beans"
            targetNamespace="http://www.rabobank.nl/person/schema/beans"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xmime="http://www.w3.org/2005/05/xmlmime">

    <xsd:element name="get-persons-request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="person-response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="person" type="person"
                             minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="person">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="first-name" type="xsd:string"/>
            <xsd:element name="last-name" type="xsd:string"/>
            <xsd:element name="picture" type="picture" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="picture">
        <xsd:sequence>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="imageData" type="xsd:base64Binary"
                         xmime:expectedContentTypes="application/octet-stream"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>